body, html {
    margin: 0;
    padding: 0;
    background: url(./assets/background.png);
    background-repeat: repeat;
    background-size: initial;
}

.container {
    margin: 0;
}

.title h3 {
    margin-left: 30px;
}

.block {
    display: block;
}

#title {
    margin-top: 20px;
}

#padding-0 {
    padding: 0;
}

.card {
    cursor: pointer;
}

.top-food {
    width: 100%;
    height: 350px;
    margin: 0 30px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    display: flex;
}

.top-food .top-item, .food-list .food-item {
    margin: 0 20px;
    padding: 0;
    height: 300px;
}

.food-img {
    width: 100%;
}

.top-item .food-img img, .food-item .food-img img {
    width: 100%;
    height: 200px;
}

.top-item h2 {
    font-size: 25px;
}

.food-list {
    width: 100%;
    height: 315px;
    display: flex;
    text-align: center;
}

.food-item h2 {
    font-size: 25px;
}

#last {
    margin-bottom: 0;
}

.margin-right {
    margin-right: 20px;
}

.view-more-btn {
    width: 40px;
    height: 30px;
    padding: 3px;
    position: relative;
    right: 20px;;
}